* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end; /* This aligns the items to the right */
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

header nav ul li a:hover {
    text-decoration: underline;
}
.head-para {
    font-size: 0.9em;
    color: #a89e9e;
    margin-bottom: 10px;
}

main {
    padding: 20px 0;
}

article.post {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article.post h2 {
    margin-bottom: 10px;
}

article.post .meta {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

article.post p {
    margin-bottom: 15px;
}

article.post .read-more {
    display: inline-block;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    text-decoration: none;
}

article.post .read-more:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
